cxf/soap(wsdl) and restful(wadl)/02-spring-soap-rest/src/main/wsdl/myService.wsdl

<wsdl:definitions name="WsUserServiceImplService" targetNamespace="http://webservice.server.webservice.mycompany.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.server.webservice.mycompany.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://webservice.server.webservice.mycompany.com/" version="1.0" xmlns:tns="http://webservice.server.webservice.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="User" type="tns:user"/>
<xs:element name="addUser" type="tns:addUser"/>
<xs:element name="addUser2" type="tns:addUser2"/>
<xs:element name="addUser2Response" type="tns:addUser2Response"/>
<xs:element name="addUserResponse" type="tns:addUserResponse"/>
<xs:element name="delete" type="tns:delete"/>
<xs:element name="deleteResponse" type="tns:deleteResponse"/>
<xs:element name="getList" type="tns:getList"/>
<xs:element name="getListResponse" type="tns:getListResponse"/>
<xs:element name="update" type="tns:update"/>
<xs:element name="updateResponse" type="tns:updateResponse"/>
<xs:element name="userListOutputType" type="tns:userListOutputType"/>
<xs:complexType name="addUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:response"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType abstract="true" name="response">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="delete">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:response"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="update">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:response"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getList">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userListOutputType"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="userListOutputType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="user" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addUser2">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addUser2Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:response"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="update">
    <wsdl:part element="tns:update" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part element="tns:deleteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUser2">
    <wsdl:part element="tns:addUser2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part element="tns:updateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part element="tns:addUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUser2Response">
    <wsdl:part element="tns:addUser2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUser">
    <wsdl:part element="tns:addUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListResponse">
    <wsdl:part element="tns:getListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getList">
    <wsdl:part element="tns:getList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part element="tns:delete" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WsUserService">
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUser" name="addUser">
    </wsdl:input>
      <wsdl:output message="tns:addUserResponse" name="addUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:delete" name="delete">
    </wsdl:input>
      <wsdl:output message="tns:deleteResponse" name="deleteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:update" name="update">
    </wsdl:input>
      <wsdl:output message="tns:updateResponse" name="updateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getList">
      <wsdl:input message="tns:getList" name="getList">
    </wsdl:input>
      <wsdl:output message="tns:getListResponse" name="getListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser2">
      <wsdl:input message="tns:addUser2" name="addUser2">
    </wsdl:input>
      <wsdl:output message="tns:addUser2Response" name="addUser2Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsUserServiceImplServiceSoapBinding" type="tns:WsUserService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="delete">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="update">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUser2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUser2Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsUserServiceImplService">
    <wsdl:port binding="tns:WsUserServiceImplServiceSoapBinding" name="WsUserServiceImplPort">
      <soap:address location="http://localhost:8082/services/userService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>